* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

:root {
	--main-bg-color: #422261;
	--face: #422261;
	--pumkips: #e9810a;
	--b1: #f09023;
	--b2: #f4982f;
	--b3: #f69c35;
	--b4: #f79e38;
	--tallo: #592f00;
	--tallo_shadow: #753c37;
	--face1: #311f4c;
	--face2: #221a37;
	--face3: #171422;
	--face4: #0a0a0a;
	--bs1: #331c4e;
	--bs2: #26163b;
	--bs3: #1a0f29;
	--bs4: #0e0218;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(
		to bottom,
		var(--main-bg-color),
		var(--bs1),
		var(--bs2),
		var(--bs3),
		var(--bs4)
	);
	margin-left: -10rem;
}

.calabaza {
	width: 200px;
	height: 361px;
	background-color: var(--pumkips);
	border-radius: 51% 49% 48% 52% / 58% 66% 34% 42%;
	/* clip-path: ellipse(25% 40% at 50% 50%); */
	box-shadow: 49px -6px 0px 0px var(--b1), -49px 0px 0px 0px var(--b2),
		80px -17px 0px 0px var(--b3), -80px -17px 0px 0px var(--b4);
}

.tallo {
	width: 90px;
	height: 100px;
	background-color: var(--tallo_shadow);
	border-radius: 31% 69% 26% 74% / 0% 100% 0% 100%;
	box-shadow: -11px 0px 0px 0px var(--tallo);
	position: relative;
	bottom: 214px;
	/* margin-left: 0rem; */
	left: 225px;
	z-index: -1;
}

.face {
	width: 77px;
	height: 48px;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(
		to right top,
		var(--main-bg-color),
		var(--face1),
		var(--face2),
		var(--face3),
		var(--face4)
	);
	position: relative;
	border-radius: 98% 2% 40% 60% / 30% 30% 70% 70%;
	z-index: 1;
	transform: rotate(32deg);
	top: -33px;
	left: 71px;
}

.face::after {
	content: '';
	width: 77px;
	height: 48px;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(
		to right top,
		var(--main-bg-color),
		var(--face1),
		var(--face2),
		var(--face3),
		var(--face4)
	);
	position: absolute;
	border-radius: 100% 0% 69% 31% / 36% 23% 77% 64%;
	z-index: 1;
	transform: rotate(-40deg);
	top: -64px;
	left: 110px;
}

.face::before {
	content: '';
	width: 163px;
	height: 124px;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(
		to right top,
		var(--main-bg-color),
		var(--face1),
		var(--face2),
		var(--face3),
		var(--face4)
	);
	position: absolute;
	clip-path: polygon(
		16% 16%,
		23% 45%,
		36% 29%,
		41% 44%,
		49% 31%,
		55% 45%,
		64% 31%,
		73% 43%,
		78% 29%,
		83% 41%,
		100% 6%,
		97% 26%,
		90% 45%,
		78% 67%,
		72% 51%,
		59% 67%,
		51% 53%,
		34% 69%,
		33% 48%,
		21% 56%
	);
	animation-name: pulse;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transform: rotate(-30deg);
	top: 30px;
	left: 49px;
}

/* @keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
} */
